<style>
  .footer {
    margin-top: 10vh;
    background-image: linear-gradient(to left, #2d0829, #2c082a, #2a092a, #29092b, #27092b, #25092c, #220a2c, #200a2d, #1c0b2f, #170b30, #100c32, #080c33);
    padding: 10px;
    color: white;
  }
  .footer ul {
    list-style-type: disc;
    padding-left: 20px;
  }
</style>

<footer class="footer">
  <h2>Project made by:</h2>
  <ul>
    <li>Uditi Sinha</li>
    <li>Shreshtha Sodhia</li>
    <li>Vedantika Singh</li>
    <li>Raghav</li>
    <li>Vatsal Soni</li>
  </ul>
</footer>
